@font-face {
    font-family: 'Myriad Pro';
    src: url("../fonts/MyriadPro-Regular.ttf");
}

title {
    display: block;
    font-size: 200%;
    font-weight: bold;
}

body {
    font-family: 'Myriad Pro', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding-top: 60px;
    padding-bottom: 50px;
}

.header__title {
    font-size: 80px;
    text-align: left;
    margin-bottom: 45px;
}

.header-title_link {
    text-decoration: none;
}

.header-title_black {
    color: #000000;
}

.header-title_blue {
    color: #4bcaff;
}

.header__menu {
    font-size: 0;
    background-color: #35444f;
    text-align: center;
}

.header-menu_option {
    display: inline-block;
    box-sizing: border-box;
}

.header-menu_link {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 23px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: background-color .5s
}

.header-menu_link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.header-menu_link:active {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    opacity: .7;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.section-left {
    width: 344px;
    float: left;
    border: 1px solid gray;
    margin-right: 49px;
}

.section-right {
    width: 885px;
    float: left;
}

.section-left-menu_option {
    display: block;
}

.section-left-menu_link {
    display: block;
    text-decoration: none;
    font-size: 27px;
    color: #35444f;
    text-align: left;
    padding: 28px 0 28px 69px;
    transition: all .5s;
}

.section-left-menu_link:hover {
    background-color: #dcdcdc;
    padding-left: 84px;
    color: #000;
}

.section-left-menu_link:active {
    background-color: #dcdcdc;
    opacity: .7;
    padding-left: 84px;
    color: #000;
}

.section-text {
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.section-text_width {
    width: 815px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.section-text_width:last-child {
    margin-bottom: 51px;
}

.section-img {
    display: block;
    /*border: 1px solid #32424e;*/
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0 auto;
    transition: transform 3s;
}

.section-img:hover {
    /*opacity: .5;*/
   transform: scale(1.2);
}

.section-img_width {
    width: 885px;
    border: 1px solid #32424e;
    margin-bottom: 50px;
}

.footer__menu {
    background-color: #b5b8bb;
}

.footer-menu_option {
    display: inline-block;
}

.footer-menu_link {
    display: inline-block;
    text-decoration: none;
    color: #0c1927;
    font-size: 28px;
    text-align: left;
    padding-top: 22px;
    padding-bottom: 21px;
    margin-right: 10px;
}

.footer__menu:first-child {
    padding-left: 44px;
}


.footer-menu_link:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #3181a6;
}

.footer-menu_link:active {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #3181a6;
    opacity: .7;
}

.footer-copyright {
    color: #010000;
    font-size: 24px;
    padding-top: 25px;
    padding-right: 34px;
    float: right;
}